@media only screen and (orientation: portrait) {
/* CSS TOOLS ///////////////////////////////////////////// */
.landscape {
  display: none;
}

.cv2 {
  height: 200%;
}

.cvi2 {
  height: 50%;
}

.cv3 {
  height: 300%;
}

.cvi3 {
  height: 33.3333%;
}

/* CONTENT //////////////////////////////////////////////////// */
/* GENERAL ----------------------------------------------------- */
:root {
  --l: calc(var(--wpx)/60);
}

figure {
  width: 100.3%;
}

/* Just paragraphs */
.ur.p-lay1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ur.pad1 {
  padding-bottom: 7%;
}

.ur.p-lay1.pad1 {
  padding-bottom: 9%;
}

.ur.p-lay1.pad1 figure {
  max-height: 95%;
}

.ur.p-lay2, .ur.p-lay3 {
  background-color: black;
}

/* Full figure */
.ur.p-lay2 figure {
  height: 100%;
  max-height: 100%;
}

/* Landscape AR pic */
.ur.p-lay3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}

.ur.p-lay3 figure {
  height: 40%;
}

/* Portrait AR pic */
.ur.p-lay4 figure {
  position: absolute;
  bottom: 0%;
  width: 82%;
}


/* NAVIGATION ------------------------------------------------ */
.arrow-link {
  border-width: calc(var(--wpx)/150);
  width: 11%;
  height: 6%;
}

.arrow-link.pos1 {
  left: 85%;
  top: 92%;
}

/* PARAGRAPHS --------------------------------------------------- */
p {
  font-size: calc(var(--wpx)/22);
  padding: 5%;
  border-top: var(--l) solid black;
  border-bottom: var(--l) solid black;
  background-color: white;
}

/* IMAGES & FIGURES ------------------------------------------- */
figcaption {
  font-size: calc(var(--wpx)/25);
}

figure.p-lay1 {
  padding: 5%;
  padding-top: 10%;
  flex-direction: column;
}

figure.p-lay1 figcaption {
  padding-top: 5%;
}

figure.p-lay2 {
  position: relative;
  padding: 25% 5% 10% 5%;
}

figure.p-lay2 figcaption {
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: left;
}

picture {
  width: 100%;
}

img {
  width: 100%;
}

/* PAGES //////////////////////////////////////////////// */
/* HEADER --------------------------------------- */
h2 {
  font-size: calc(var(--wpx)/7);
}

h2 .chapter-num {
  font-size: calc(var(--wpx)/5);
  left: 23%;
}

h2 .title {
  font-size: calc(var(--wpx)/12);
  top: 15%;
}

h2 #title1 {
  left: 2%;
  top: 10%;
}

h2 #title2 {
  top: 50%;
  left: 12%;
}

h2 #title3 {
  top: 90%;
  left: 40%;
}

h2 .date {
  font-size: calc(var(--wpx)/14);
  top: 80%;
  left: 46%;
}

/* PAGE 2 ------------------------------------ */
#page2 picture {
  position: absolute;
  background-color: black;
  height: 67%;
  padding: 0% 2% 10% 2%;
}

/* PAGE 3 --------------------------------------- */
#page3 figure {
  height: 51.6%;
}

#page3 picture {
  padding-bottom: 2%;
}

/* PAGE 6 ------------------------------------------ */
#page6 figure {
  height: 75.1%;
  padding-bottom: 20%;
}

/* PAGE 8 ------------------------------------------- */
#page8 p, #page11 p {
  padding: 20% 5%;
}

/* PAGE 10 --------------------------------------------- */
#page10 figure {
  padding-top: 35%;
  height: 72.5%;
}

/* PAGE 13 --------------------------------------------- */
#page13 .ur {
  padding-bottom: 13%;
}

/* PAGE 14 --------------------------------------------- */
#page14 p:nth-of-type(1) {
  position: absolute;
  top: 5.75%;
}

#page14 p:nth-of-type(2) {
  position: absolute;
  top: 40%;
}

#p14-rec1 {
  background-color: red;
  width: 28.4%;
  height: 11.5%;
  top: 28.5%;
  right: 0%;
}

#p14-rec2 {
  background-color: red;
  width: 28.4%;
  height: 5.8%;
  top: 0%;
  right: 0%;
}

#p14-rec3 {
  background-color: red;
  width: 30%;
  height: 11.6%;
  top: 88.4%;
  left: 0%;
}

/* PAGE 17 --------------------------------------------- */
#page17 p {
  position: absolute;
  padding: 20% 5%;
  top: 20%;
}

#p17-line1 {
  height: var(--l);
  width: 100%;
  top: 15%;
}
#p17-line2 {
  height: var(--l);
  width: 100%;
  top: 85%;
}

/* PAGE 18 ---------------------------------------------- */
#page18 p {
  position: absolute;
  padding: 10% 5%;
  top: 20%;
}

#p18-rec1 {
  background-color: red;
  width: 10.3%;
  height: 20%;
  border-right: var(--l) solid black;
  left: 71.6%;
}
#p18-rec2 {
  background-color: red;
  width: 11.1%;
  height: 21%;
  border-left: var(--l) solid black;
  left: 19%;
  bottom: 0%;
}

/* PAGE 19 ------------------------------------------- */
#page19 .ur {
  padding-bottom: 11%;
}

/* PAGE 20 ------------------------------------------ */
#page20 figure {
  height: 65%;
}

#page20 figure picture {
  height: 90%;
}

/* PAGE 21 ------------------------------------------ */
#page21 p {
  position: absolute;
  top: 10%;
}

#page21 figure {
  height: 68%;
}

/* PAGE 22 ------------------------------------------ */
#page22 figure {
  height: 68%;
}

/* PAGE 23 ------------------------------------------ */
#page23 figure {
  height: 75%;
}

/* PAGE 24 ------------------------------------------ */
#page24 p {
  position: absolute;
  top: 5%;
}

#page24 figure {
  top: 34%;
}

/* PAGE 25 ------------------------------------------ */
#page25 p {
  position: absolute;
  top: 40%;
}

#p25-rec1 {
  background-color: blue;
  top: 20%;
  width: 34%;
  height: 10%;
  border: var(--l) solid black;
  border-left: none;
}

#p25-rec2 {
  background-color: yellow;
  top: 20%;
  left: 34%;
  width: 37.5%;
  height: 10%;
  border: var(--l) solid black;
  border-left: none;
}

#p25-rec3 {
  background-color: red;
  top: 20%;
  left: 71.6%;
  width: 28.4%;
  height: 10%;
  border: var(--l) solid black;
  border-right: none;
  border-left: none;
}

/* PAGE 26 ------------------------------------------------ */
#page26 figure {
  height: 98%;
}

/* PAGE 27 ----------------------------------------------- */
#page27 figure {
  height: 70%;
}

/* PAGE 28 -------------------------------------------------- */
#page28 .ur {
  padding-bottom: 15%;
  padding-top: 5%;
}

#page28 i {
  padding: 0;
}

/* PAGE 29 --------------------------------------------- */
#page29 figure {
  height: 68%;
}

/* PAGE30 --------------------------------------------- */
#page30 .ur {
  padding-bottom: 5%;
}

/* PAGE31 ------------------------------------------------ */
#page31 .ur {
  padding-top: 20%;
  padding-bottom: 20%;
}

/* PAGE35 ---------------------------------------- */
#page35 figure {
  height: 50%;
  padding-bottom: 10%;
}

}