@media only screen and (orientation: portrait) {
.landscape {
  display: none;
}

.cv2 {
  width: 100%;
  height: 200%;
  scroll-snap-type: y mandatory;
}

.cvi2 {
  width: 100%;
  height: 50%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GENERAL ------------------------------------------------- */
:root {
  --l: calc(var(--wpx)/60);
}

/* NAVIGATION ------------------------------------------------ */
.arrow-link {
  border: calc(var(--wpx)/150) solid black;
  border-radius: calc(var(--wpx)/100);
  width: 11%;
  height: 6%;
}

.arrow-link.pos1 {
  left: 88%;
  top: 93.5%;
}

.menu-link {
  border: calc(var(--wpx)/150) solid black;
  font-size: calc(var(--wpx)/19);
}

/* HEADERS ----------------------------------- */
h2 {
  font-size: calc(var(--wpx)/7);
  padding-left: 5%;
  line-height: 1.5;
}

h2 .chapter-num {
  font-size: calc(var(--wpx)/4);
}

h2 .date {
  font-size: calc(var(--wpx)/10);
  top: 70%;
}

/* PARAGRAPHS -------------------------------------------------- */
p {
  font-size: calc(var(--wpx)/22);
  padding: 5%;
  border-top: var(--l) solid black;
  border-bottom: var(--l) solid black;
  background-color: white;
}

/* FIGURES & IMAGES ---------------------------------------- */
figcaption {
  font-size: calc(var(--wpx)/25);
}

/* LAYOUTS ------------------------------------------------- */
.ur.p-lay1 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  padding-bottom: 15%;
}

.ur.p-lay2 p {
  position: absolute;
}

.ur.p-lay2 figure {
  position: absolute;
}

.ur.p-lay3 {
  background-color: black;
  display: flex;
  align-items: center;
}

.ur.p-lay3 figure {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
}

figure.p-lay1 {
  padding: 10%;
}

figure.p-lay1 figcaption {
  padding-top: 9%;
}

/* LEAVES ////////////////////////////////////////////////////// */
/* LEAF 2 -------------------------------------- */
#leaf2 p {
  position: absolute;
  top: 0%;
}
#leaf2 figure {
  position: absolute;
  top: 25%;
}
/* LEAF 3 ------------------------------------ */
#leaf3 figure {
  top: 17%;
  padding-bottom: 13%;
}

/* LEAF 4 --------------------------------- */
#leaf4 p {
  top: 40%;
}

#l4-line1 {
  width: var(--l);
  height: 100%;
  left: 25%;
}

#l4-line2 {
  height: var(--l);
  width: 100%;
  top: 37%;
}

#l4-line3 {
  height: var(--l);
  width: 100%;
  top: 65%;
}

#l4-line4 {
  height: var(--l);
  width: 75%;
  left: 25%;
  top: 75%;
}

#l4-line5 {
  width: var(--l);
  height: 90%;
  top: 10%;
  left: 85%;
}

#l4-line6 {
  width: var(--l);
  height: 50%;
  left: 77%;
}

/* LEAF 6 ------------------------------------------- */
#leaf6 p {
  top: 10%;
  padding: 15% 5%;
  width: 100%;
}

#l6-rec1 {
  width: 60%;
  height: 20%;
  background-color: blue;
  top: 55%;
  border-top: var(--l) solid black;
  border-bottom: var(--l) solid black;
}

#l6-rec2 {
  width: 40%;
  height: 20%;
  background-color: white;
  top: 55%;
  border-top: var(--l) solid black;
  border-bottom: var(--l) solid black;
  left: 60%;
}

#l6-line1 {
  width: var(--l);
  height: 100%;
  left: 60%;
}

/* LEAF 13 ----------------------------------- */
#leaf13 p {
  width: 100%;
  top: 30%;
  padding: 10% 5%;
}

#l13-line1 {
  height: var(--l);
  width: 100%;
  top: 20%;
  background-color: yellow;
}

#l13-line2 {
  height: var(--l);
  width: 100%;
  top: 25%;
  background-color: yellow;
}

#l13-line4 {
  height: var(--l);
  width: 100%;
  top: 80%;
  background-color: yellow;
}

#l13-line3 {
  background-color: blue;
  height: 100%;
  width: var(--l);
  left: 75%;
}

/* LEAF 15 -------------------------------- */
#leaf15 p {
  width: 100%;
  padding: 10% 5%;
}

#l15-rec1 {
  width: 100%;
  height: 10%;
  background-color: yellow;
  top: 80%;
}

#l15-rec2 {
  width: 29.9%;
  height: 20%;
  background-color: blue;
  top: 30%;
}

#l15-line2 {
  background-color: blue;
  width: var(--l);
  height: 100%;
  left: 35%;
}

#l15-line1 {
  background-color: red;
  width: 100%;
  height: var(--l);
  top: 88%;
}

#l15-line3 {
  background-color: yellow;
  width: 70%;
  height: var(--l);
  top: 50%;
  left: 30%;
}

#l15-line4 {
  background-color: yellow;
  width: 70%;
  height: var(--l);
  top: 30%;
  left: 30%;
}

#l15-line5 {
  background-color: red;
  width: 29.9%;
  height: var(--l);
  top: 50%;
}

#l15-line6 {
  background-color: red;
  width: 29.9%;
  height: var(--l);
  top: 30%;
}

/* LEAF 18 ------------------------------ */
#leaf18 p {
  position: absolute;
  top: 10%;
  width: 100%;
}

#l18-line1 {
  background-color: white;
  width: 100%;
  height: var(--l);
  top: 5%;
}

#l18-line2 {
  background-color: white;
  width: 100%;
  height: var(--l);
  top: 55%;
}

#l18-line3 {
  background-color: white;
  width: 100%;
  height: var(--l);
  top: 60%;
}

#l18-line4 {
  background-color: white;
  width: 100%;
  height: var(--l);
  top: 65%;
}

#l18-line5 {
  background-color: yellow;
  width: var(--l);
  height: 90%;
  left: 5%;
}

#l18-line6 {
  background-color: yellow;
  height: var(--l);
  width: 100%;
  top: 40%;
}

#l18-rec1 {
  background-color: black;
  width: 15%;
  height: 8%;
  left: 85%;
  top: 92%;
}

/* LEAF 20 -------------------------------------- */
#leaf20 .ur {
  gap: 0%;
  padding-bottom: 30%;
}

/* LEAF 21 ------------------------------ */
#leaf21 i {
  padding: 0;
}

#leaf21 p {
  position: absolute;
}

#leaf21 p:nth-of-type(1) {
  top: 10%;
}

#leaf21 p:nth-of-type(2) {
  top: 45%;
}

#l21-line1 {
  width: var(--l);
  height: 100%;
  background-color: red;
  left: 10%;
}

#l21-line2 {
  width: var(--l);
  height: 100%;
  background-color: blue;
  left: 40%;
}

#l21-line3 {
  width: var(--l);
  height: 100%;
  background-color: yellow;
  left: 92.5%;
}

/* LEAF 24 ----------------------------------------------- */
#leaf24 p {
  width: 100%;
  top: 20%;
}

#l24-rec1 {
  width: 13.3%;
  height: 89.5%;
  top: 10.95%;
  background-color: blue;
  left: 86.7%;
}

#l24-line1 {
  left: 35%;
  background-color: black;
  width: var(--l);
  height: 89.5%;
  top: 10.95%;
}

#l24-line2 {
  left: 45%;
  background-color: black;
  width: var(--l);
  height: 89.5%;
  top: 10.95%;
}

#l24-line3 {
  left: 55%;
  background-color: black;
  width: var(--l);
  height: 89.5%;
  top: 10.95%;
}

#l24-line4 {
  left: 65%;
  background-color: black;
  width: var(--l);
  height: 89.5%;
  top: 10.95%;
}

#l24-line5 {
  left: 75%;
  background-color: black;
  width: var(--l);
  height: 89.5%;
  top: 10.95%;
}

#l24-line6 {
  left: 85%;
  background-color: black;
  width: var(--l);
  height: 89.5%;
  top: 10.95%;
}

#l24-line7 {
  background-color: red;
  height: var(--l);
  width: 100%;
  top: 50%;
}

#l24-line8 {
  background-color: red;
  height: var(--l);
  width: 100%;
  top: 60%;
}

#l24-line9 {
  background-color: red;
  height: var(--l);
  width: 100%;
  top: 70%;
}

#l24-line10 {
  background-color: red;
  height: var(--l);
  width: 100%;
  top: 80%;
}

#l24-line11 {
  background-color: red;
  height: var(--l);
  width: 100%;
  top: 88%;
}

#l24-line12 {
  background-color: red;
  height: var(--l);
  width: 100%;
  top: 17%;
}

/* LEAF 26 ---------------------------------------- */
.menu-link {
  border-width: calc(var(--wpx)/150);
  font-size: calc(var(--wpx)/19);
  top: 30%;
  background-color: red;
  left: 4.5%;
}

#next-chapter-tag {
  background-color: transparent;
  border: none;
  left: 33%;
  top: 15%;
  text-align: center;
}

#next-chapter-tag span {
  font-weight: 700;
  font-size: calc(var(--wpx)/17);
}

#next-chapter-link {
  left: 61%;
  top: 32%;
}
#leaf26 picture {
  background-color: black;
  padding: 5%;
  position: absolute;
  width: 100%;
  top: 43.5%;
}

}